# Werkcollege-opdrachten Week 1.3

## Dependencies importeren

Kopieer in het codeblok hieronder van het vorige practicum de import-code voor de dependencies die het vaakst worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
Zet eventuele warnings uit.

In [ ]:
import pandas as pd
import warnings
import sqlite3

warnings.filterwarnings('ignore')

Zet het bestand go_sales_train.sqlite in een makkelijk te vinden map

## Databasetabellen inlezen

Kopieer in het codeblok hieronder van het vorige practicum de code om een connectie met het bestand go_sales_train.sqlite te maken.

In [ ]:
import sqlite3
conn = sqlite3.connect('sqlite/go_sales_train.sqlite')

Lees van de ingelezen go_sales_train-database te volgende tabellen in met behulp van "SELECT * FROM *tabel*".
- product
- product_type
- product_line
- sales_staff
- sales_branch
- retailer_site
- country
- order_header
- order_details
- returned_item
- return_reason

In [1]:
import pandas as pd
import sqlite3

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# Lijst met tabellen die ingelezen moeten worden
tables = [
    "product", "product_type", "product_line", "sales_staff",
    "sales_branch", "retailer_site", "country", "order_header",
    "order_details", "returned_item", "return_reason"
]

# Gegevens inlezen en weergeven
dataframes = {}
for table in tables:
    query = f"SELECT * FROM {table}"
    df = pd.read_sql_query(query, conn)
    dataframes[table] = df
    print(f"Tabel: {table}")
    print(df.head(), "\n")

# Verbinding sluiten
conn.close()

Tabel: product
   PRODUCT_NUMBER INTRODUCTION_DATE  PRODUCT_TYPE_CODE  PRODUCTION_COST  \
0               1        1995-02-15                  1             4.00
1               2        1995-02-15                  1             9.22
2               3        1995-02-15                  1            15.93
3               4        1995-02-15                  1             5.00
4               5        1995-02-15                  1            34.97

   MARGIN  PRODUCT_IMAGE LANGUAGE           PRODUCT_NAME  \
0    0.33  P01CE1CG1.jpg       EN    TrailChef Water Bag
1    0.23  P02CE1CG1.jpg       EN      TrailChef Canteen
2    0.28  P03CE1CG1.jpg       EN  TrailChef Kitchen Kit
3    0.28  P04CE1CG1.jpg       EN          TrailChef Cup
4    0.30  P05CE1CG1.jpg       EN     TrailChef Cook Set

                                         DESCRIPTION
0  Lightweight, collapsible bag to carry liquids ...
1  Aluminum canteen. Rugged fleece-lined cover wi...
2  Zippered nylon pouch contains cutlery for two,...
3            Tin cup. Holds 0.4 liters. Weight: 60 g
4  All you will ever need on the trail.  Pot grip...

Tabel: product_type
   PRODUCT_TYPE_CODE  PRODUCT_LINE_CODE PRODUCT_TYPE_EN
0                  1                  1    Cooking Gear
1                  2                  1           Tents
2                  3                  1   Sleeping Bags
3                  4                  1           Packs
4                  5                  1        Lanterns

Tabel: product_line
   PRODUCT_LINE_CODE           PRODUCT_LINE_EN
0                  1         Camping Equipment
1                  2  Mountaineering Equipment
2                  3      Personal Accessories
3                  4        Outdoor Protection
4                  5            Golf Equipment

Tabel: sales_staff
   SALES_STAFF_CODE FIRST_NAME  LAST_NAME                   POSITION_EN  \
0                 4      Denis       Pagé                Branch Manager
1                 5  Élizabeth     Michel  Level 3 Sales Representative
2                 6      Émile   Clermont  Level 1 Sales Representative
3                 7    Étienne     Jauvin  Level 2 Sales Representative
4                12    Elsbeth  Wiesinger  Level 2 Sales Representative

          WORK_PHONE  EXTENSION                FAX                   EMAIL  \
0  +33 1 68 94 52 20      325.0  +33 1 68 94 56 60       DPage@grtd123.com
1  +33 1 68 94 52 20      336.0  +33 1 68 94 56 60     EMichel@grtd123.com
2  +33 1 68 94 52 20      378.0  +33 1 68 94 56 60   EClermont@grtd123.com
3  +33 1 68 94 52 20      398.0  +33 1 68 94 56 60     EJauvin@grtd123.com
4  +(49) 40 663 1990     1818.0  +(49) 40 663 4571  EWiesinger@grtd123.com

   DATE_HIRED  SALES_BRANCH_CODE
0  1996-11-03                  6
1  1995-06-08                  6
2  1998-04-07                  6
3  1997-08-16                  6
4  1997-02-27                 13

Tabel: sales_branch
   SALES_BRANCH_CODE                       ADDRESS1       ADDRESS2       CITY  \
0                  6  75, rue du Faubourg St-Honoré           None      Paris
1                  7                Piazza Duomo, 1           None     Milano
2                  9            Singelgravenplein 4  4e verdieping  Amsterdam
3                 13                 Schwabentor 35           None    Hamburg
4                 14               Leopoldstraße 36           None    München

          REGION POSTAL_ZONE  COUNTRY_CODE
0           None     F-75008             1
1           None     I-20121             6
2  Noord-Holland     1233 BW             7
3           None     D-22529             2
4           None     D-81241             2

Tabel: retailer_site
   RETAILER_SITE_CODE  RETAILER_CODE            ADDRESS1 ADDRESS2  \
0                   1             89  1117 Franklin Blvd     None
1                   2             89     45, rue Atwater     None
2                   3             89    328 Hodgson Road     None
3                   4             90      2425, rue Peel     None
4                   5             90       34 8th Avenue     None

          CITY         REGION POSTAL_ZONE  COUNTRY_CODE  ACTIVE_INDICATOR
0     Winnipeg       Manitoba     R2C 0M5             4                 1
1     Montréal         Québec     H2T 9K8             4                 1
2  Fredericton  New Brunswick     E3B 2H2             4                 1
3     Montréal         Québec     H4G 3T4             4                 1
4      Sudbury        Ontario     M5V 1G5             4                 1

Tabel: country
   COUNTRY_CODE        COUNTRY LANGUAGE CURRENCY_NAME
0             1         France       EN        francs
1             2        Germany       EN         marks
2             3  United States       EN       dollars
3             4         Canada       EN       dollars
4             5        Austria       EN    schillings

Tabel: order_header
   ORDER_NUMBER RETAILER_NAME  RETAILER_SITE_CODE  RETAILER_CONTACT_CODE  \
0          1153  Ultra Sports                   4                      6
1          1154  Ultra Sports                   4                      6
2          1155  Ultra Sports                   5                     65
3          1156  Ultra Sports                   5                     65
4          1157  Ultra Sports                   6                     66

   SALES_STAFF_CODE  SALES_BRANCH_CODE  ORDER_DATE  ORDER_METHOD_CODE
0                50                 18  2022-04-14                  7
1                50                 18  2022-10-01                  4
2                49                 18  2022-04-21                  7
3                49                 18  2022-09-09                  5
4                50                 18  2022-04-10                  2

Tabel: order_details
   ORDER_DETAIL_CODE  ORDER_NUMBER  PRODUCT_NUMBER  QUANTITY  UNIT_COST  \
0              47737          1638               1        84       4.38
1              47738          1159               1       126       4.38
2              47739          1171               1       122       4.38
3              47740          1154               1       122       4.38
4              47741          1205               1       272       4.38

   UNIT_PRICE  UNIT_SALE_PRICE
0        6.59             6.59
1        6.59             6.59
2        6.59             6.03
3        6.59             6.59
4        6.59             5.26

Tabel: returned_item
   RETURN_CODE          RETURN_DATE  ORDER_DETAIL_CODE  RETURN_REASON_CODE  \
0         1491  Aug  1 2023  4:10AM              84858                   5
1         1492  Dec  6 2022  6:46PM              84440                   2
2         1493  Jun 24 2023  9:23AM              84867                   4
3         1494  Jul 21 2023 12:00AM              84873                   3
4         1496  Oct  7 2022  5:13AM              84488                   1

   RETURN_QUANTITY
0                8
1                2
2               22
3               20
4                2

Tabel: return_reason
   RETURN_REASON_CODE   RETURN_DESCRIPTION_EN
0                   1       Defective product
1                   2      Incomplete product
2                   3   Wrong product ordered
3                   4   Wrong product shipped
4                   5  Unsatisfactory product

Krijg je een "no such table" error? Dan heb je misschien met .connect() per ongeluk een leeg  databasebestand (.sqlite) aangemaakt. <u>Let op:</u> lees eventueel de informatie uit het Notebook van werkcollege 1.1b nog eens goed door.

Als je tijdens onderstaande opdrachten uit het oog verliest welke tabellen er allemaal zijn, kan je deze Pythoncode uitvoeren:

In [ ]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
#Vul dit codeblok verder in
pd.read_sql(sql_query, ...)
#Op de puntjes hoort de connectie naar go_sales_train óf go_staff_train óf go_crm_train te staan.

erachter

Let op! Voor alle onderstaande opdrachten mag je <u>alleen Python</u> gebruiken, <u>geen SQL!</u>

## Selecties op één tabel zonder functies

Geef een overzicht met daarin de producten en hun productiekosten waarvan de productiekosten lager dan 100 dollar en hoger dan 50 dollar ligt. (2 kolommen, 23 rijen)

In [3]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT PRODUCT_NAME, PRODUCTION_COST 
FROM product 
WHERE PRODUCTION_COST > 50 AND PRODUCTION_COST < 100
"""

# Data inlezen in een DataFrame
df_selected_products = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_selected_products)

                       PRODUCT_NAME  PRODUCTION_COST
0         TrailChef Deluxe Cook Set            85.11
1            TrailChef Double Flame            75.00
2                   Hibernator Lite            60.00
3                        Hibernator            86.00
4   Hibernator Self - Inflating Mat            78.55
5               Hibernator Camp Cot            65.33
6      Canyon Mule Climber Backpack            62.50
7           Granite Climbing Helmet            52.86
8             Husky Harness Extreme            55.00
9                    Granite Hammer            57.13
10                        Polar Ice            73.33
11                     Polar Sports            80.00
12                       Polar Wave            60.00
13                    Polar Extreme            72.50
14                     Edge Extreme            80.00
15                        Seeker 35            79.19
16                        Seeker 50            92.58
17                   Seeker Extreme            94.12
18                   Glacier Deluxe            56.25
19                      Glacier GPS            78.55
20                Blue Steel Putter            60.00
21            Blue Steel Max Putter            81.80
22              Course Pro Golf Bag            80.00

Geef een overzicht met daarin de producten en hun marge waarvan de marge lager dan 20 % of hoger dan 60 % ligt. (2 kolommen, 7 rijen)

In [4]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT PRODUCT_NAME, MARGIN 
FROM product 
WHERE MARGIN < 0.20 OR MARGIN > 0.60
"""

# Data inlezen in een DataFrame
df_selected_margins = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_selected_margins)

                   PRODUCT_NAME  MARGIN
0                Hibernator Pad    0.17
1  Canyon Mule Climber Backpack    0.17
2             BugShield Natural    0.67
3               BugShield Spray    0.67
4         BugShield Lotion Lite    0.70
5              BugShield Lotion    0.63
6             BugShield Extreme    0.63

Geef een overzicht met daarin de landen waar met francs wordt betaald. Sorteer de uitkomst op land.  (1 kolom, 3 rijen)

In [5]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT COUNTRY 
FROM country 
WHERE CURRENCY_NAME = 'francs'
ORDER BY COUNTRY;
"""

# Data inlezen in een DataFrame
df_franc_countries = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_franc_countries)

       COUNTRY
0      Belgium
1       France
2  Switzerland

Geef een overzicht met daarin de verschillende introductiedatums waarop producten met meer dan 50% marge worden geïntroduceerd (1 kolom, 7 rijen)

In [6]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT DISTINCT INTRODUCTION_DATE 
FROM product 
WHERE MARGIN > 0.50;
"""

# Data inlezen in een DataFrame
df_intro_dates = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_intro_dates)

  INTRODUCTION_DATE
0        2000-10-26
1        1995-02-15
2        2003-12-10
3        2003-12-18
4        2003-12-27
5        2004-01-13
6        2003-12-15

Geef een overzicht met daarin het eerste adres en de stad van verkoopafdelingen waarvan zowel het tweede adres als de regio bekend is (2 kolommen, 7 rijen)

In [7]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT ADDRESS1, CITY 
FROM sales_branch 
WHERE ADDRESS2 IS NOT NULL AND REGION IS NOT NULL;
"""

# Data inlezen in een DataFrame
df_sales_branches = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_sales_branches)

                           ADDRESS1              CITY
0               Singelgravenplein 4         Amsterdam
1  Prol. Paseo de la Reforma No. 51  Distrito Federal
2               202-2-3 Hyakunincho             Tokyo
3                     543-225 Asahi        Osaka City
4                  2315 Queen's Ave         Melbourne
5             Avenida Paulista, 333         São Paulo
6                    3 Albany Court        Birmingham

Geef een overzicht met daarin de landen waar met dollars (dollars of new dollar) wordt betaald. Sorteer de uitkomst op land. (1 kolom, 4 rijen)

In [8]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT COUNTRY 
FROM country 
WHERE CURRENCY_NAME LIKE '%dollar%'
ORDER BY COUNTRY;
"""

# Data inlezen in een DataFrame
df_dollar_countries = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_dollar_countries)

         COUNTRY
0      Australia
1         Canada
2         Taiwan
3  United States

Geef een overzicht met daarin beide adressen en de stad van vestigingen van klanten waarvan de postcode begint met een ‘D’ (van duitsland). Filter op vestigingen die een tweede adres hebben. (3 kolommen, 2 rijen)

In [9]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT ADDRESS1, ADDRESS2, CITY 
FROM retailer_site 
WHERE POSTAL_ZONE LIKE 'D%' 
AND ADDRESS2 IS NOT NULL;
"""

# Data inlezen in een DataFrame
df_german_retailers = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_german_retailers)

           ADDRESS1       ADDRESS2       CITY
0  Röntgenstraße 90  3. Tür rechts  Frankfurt
1   Grubesallee 141       4. Stock    Hamburg

## Selecties op één tabel met functies

Geef het totaal aantal producten dat is teruggebracht (1 waarde)

In [10]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT SUM(RETURN_QUANTITY) AS TOTAL_RETURNED_PRODUCTS 
FROM returned_item;
"""

# Data inlezen in een DataFrame
df_total_returns = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_total_returns)

   TOTAL_RETURNED_PRODUCTS
0                    11908

Geef het aantal regio’s waarin verkoopafdelingen gevestigd zijn. (1 waarde)

In [11]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT COUNT(DISTINCT REGION) AS TOTAL_REGIONS 
FROM sales_branch;
"""

# Data inlezen in een DataFrame
df_total_regions = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_total_regions)

   TOTAL_REGIONS
0             15

Maak 3 variabelen:
- Een met de laagste
- Een met de hoogste
- Een met de gemiddelde (afgerond op 2 decimalen)

marge van producten (3 kolommen, 1 rij)

In [13]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT 
    MIN(MARGIN) AS LOWEST_MARGIN, 
    MAX(MARGIN) AS HIGHEST_MARGIN, 
    ROUND(AVG(MARGIN), 2) AS AVERAGE_MARGIN
FROM product;
"""

# Data inlezen in een DataFrame
df_margins = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_margins)

   LOWEST_MARGIN  HIGHEST_MARGIN  AVERAGE_MARGIN
0           0.17             0.7             0.4

Geef het aantal vestigingen van klanten waarvan het 2e adres niet bekend is (1 waarde)

In [14]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT COUNT(*) AS TOTAL_SITES_WITHOUT_ADDRESS2
FROM retailer_site
WHERE ADDRESS2 IS NULL;
"""

# Data inlezen in een DataFrame
df_sites_without_address2 = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_sites_without_address2)

   TOTAL_SITES_WITHOUT_ADDRESS2
0                           286

Geef de gemiddelde kostprijs van de verkochte producten waarop korting (unit_sale_price < unit_price) is verleend (1 waarde)

In [15]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT ROUND(AVG(UNIT_COST), 2) AS AVERAGE_COST_PRICE
FROM order_details
WHERE UNIT_SALE_PRICE < UNIT_PRICE;
"""

# Data inlezen in een DataFrame
df_avg_cost_discounted = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_avg_cost_discounted)

   AVERAGE_COST_PRICE
0              127.34

Geef een overzicht met daarin het aantal medewerkers per medewerkersfunctie (2 kolommen, 7 rijen)

In [16]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT POSITION_EN AS JOB_POSITION, COUNT(*) AS TOTAL_EMPLOYEES
FROM sales_staff
GROUP BY POSITION_EN;
"""

# Data inlezen in een DataFrame
df_staff_count = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_staff_count)

                   JOB_POSITION  TOTAL_EMPLOYEES
0                Branch Manager               19
1              District Manager                4
2               General Manager                1
3  Level 1 Sales Representative               13
4  Level 2 Sales Representative               39
5  Level 3 Sales Representative               24
6              Regional Manager                2

Geef een overzicht met daarin per telefoonnummer het aantal medewerkers dat op dat telefoonnummer bereikbaar is. Toon alleen de telefoonnummer waarop meer dan 4 medewerkers bereikbaar zijn. (2 kolommen, 10 rijen)

In [17]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT WORK_PHONE AS PHONE_NUMBER, COUNT(*) AS EMPLOYEE_COUNT
FROM sales_staff
GROUP BY WORK_PHONE
HAVING COUNT(*) > 4;
"""

# Data inlezen in een DataFrame
df_phone_count = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_phone_count)

          PHONE_NUMBER  EMPLOYEE_COUNT
0    +(44) 121 3505267               5
1  +(61) 03 2982  4242               5
2  +31 (0)20 692 93 94               5
3    +33 1 68 94 52 20               5
4     1 (206) 292-0012               5
5     1 (305) 557-4810               6
6     1 (310) 281-5722               5
7     1 (403) 232-5986               5
8     1 (416) 493-5595               5
9     1 (617) 268-6754               6

## Selecties op meerdere tabellen zonder functies

Geef een overzicht met daarin het eerste adres en de stad van vestigingen van klanten uit ‘Netherlands’ (2 kolommen, 20 rijen)

In [18]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT r.ADDRESS1, r.CITY
FROM retailer_site r
JOIN country c ON r.COUNTRY_CODE = c.COUNTRY_CODE
WHERE c.COUNTRY = 'Netherlands';
"""

# Data inlezen in een DataFrame
df_netherlands_sites = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_netherlands_sites)

                     ADDRESS1          CITY
0      Amsterdamsestraatweg 8      Maarssen
1                    Beets 36         Beets
2                Duivendaal 1    Wageningen
3             Gooiergracht 91         Laren
4               Havenbuurt 12        Marken
5               Hogehilweg 13     Amsterdam
6             Hoofdstraat 150   Pieterburen
7              Kalfjeslaan 47    Amstelveen
8         Krayenhoffstraat 11     Amsterdam
9   Laan van Meerdervoort 966      Den Haag
10      Noorderspoorsingel 28     Groningen
11                Olde Diek 2         Laren
12         Overschiestraat 19     Amsterdam
13               Perestraat 1      Deventer
14             Spoorstraat 43    Varsseveld
15         Stadhouderslaan 18     Rotterdam
16               Startbaan 11    Amstelveen
17              Voorstraat 37  Nieuweschans
18             Westhavenweg 8     Amsterdam
19              Westzeedijk 4        Muiden

Geef een overzicht met daarin de productnamen die tot het producttype ‘Eyewear’ behoren. (1 kolom, 5 rijen)

In [19]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT p.PRODUCT_NAME
FROM product p
JOIN product_type pt ON p.PRODUCT_TYPE_CODE = pt.PRODUCT_TYPE_CODE
WHERE pt.PRODUCT_TYPE_EN = 'Eyewear';
"""

# Data inlezen in een DataFrame
df_eyewear_products = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_eyewear_products)

    PRODUCT_NAME
0  Polar Extreme
1      Polar Ice
2   Polar Sports
3      Polar Sun
4     Polar Wave

Geef een overzicht met daarin alle unieke eerste adressen van klantvestigingen en de voornaam en achternaam van de verkopers die ‘Branch Manager’ zijn en aan deze vestigingen hebben verkocht (3 kolommen, 1 rij)

In [20]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT DISTINCT r.ADDRESS1, s.FIRST_NAME, s.LAST_NAME
FROM retailer_site r
JOIN order_header o ON r.RETAILER_SITE_CODE = o.RETAILER_SITE_CODE
JOIN sales_staff s ON o.SALES_STAFF_CODE = s.SALES_STAFF_CODE
WHERE s.POSITION_EN = 'Branch Manager';
"""

# Data inlezen in een DataFrame
df_branch_manager_sales = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_branch_manager_sales)

               ADDRESS1 FIRST_NAME LAST_NAME
0  Alameda Santos, 9876     Bayard     Lopes

Geef een overzicht met daarin van de verkopers hun functie en indien zij iets hebben verkocht de datum waarop de verkoop heeft plaatsgevonden. Laat alleen de verschillende namen van de posities zien van de verkopers die het woord ‘Manager’ in hun positienaam hebben staan. (2 kolommen, 7 rijen)

In [21]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT DISTINCT s.POSITION_EN, o.ORDER_DATE
FROM sales_staff s
LEFT JOIN order_header o ON s.SALES_STAFF_CODE = o.SALES_STAFF_CODE
WHERE s.POSITION_EN LIKE '%Manager%';
"""

# Data inlezen in een DataFrame
df_manager_sales = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_manager_sales)

        POSITION_EN  ORDER_DATE
0    Branch Manager        None
1  Regional Manager        None
2  District Manager        None
3    Branch Manager  2024-01-09
4    Branch Manager  2024-03-13
5    Branch Manager  2024-09-09
6   General Manager        None

Geef een overzicht met daarin de verschillende namen van producten en bijbehorende namen van producttypen van de producten waarvoor ooit meer dan 750 stuks tegelijk verkocht zijn. (2 kolommen, 9 rijen)

In [22]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT DISTINCT p.PRODUCT_NAME, pt.PRODUCT_TYPE_EN
FROM order_details od
JOIN product p ON od.PRODUCT_NUMBER = p.PRODUCT_NUMBER
JOIN product_type pt ON p.PRODUCT_TYPE_CODE = pt.PRODUCT_TYPE_CODE
WHERE od.QUANTITY > 750;
"""

# Data inlezen in een DataFrame
df_large_orders = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_large_orders)

            PRODUCT_NAME    PRODUCT_TYPE_EN
0      BugShield Extreme  Insect Repellents
1               Star Peg              Tents
2  BugShield Lotion Lite  Insect Repellents
3         Sun Shelter 15          Sunscreen
4         Sun Shelter 30          Sunscreen
5        BugShield Spray  Insect Repellents
6              Firefly 2           Lanterns
7       BugShield Lotion  Insect Repellents
8             Sun Shield          Sunscreen

Geef een overzicht met daarin de productnamen waarvan ooit meer dan 40% korting is verleend. De formule voor korting is: (unit_price - unit_sale_price) / unit_price (1 kolom, 8 rijen)

In [23]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT DISTINCT p.PRODUCT_NAME
FROM order_details od
JOIN product p ON od.PRODUCT_NUMBER = p.PRODUCT_NUMBER
WHERE (od.UNIT_PRICE - od.UNIT_SALE_PRICE) / od.UNIT_PRICE > 0.40;
"""

# Data inlezen in een DataFrame
df_discounted_products = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_discounted_products)

                   PRODUCT_NAME
0             BugShield Natural
1               BugShield Spray
2  Hailstorm Titanium Woods Set
3         BugShield Lotion Lite
4                Sun Shelter 30
5             BugShield Extreme
6                Sun Shelter 15
7              BugShield Lotion

Geef een overzicht met daarin de retourreden van producten waarvan ooit meer dan 90% van de aangeschafte hoeveelheid is teruggebracht (return_quantity/quantity). (1 kolom, 3 rijen)

In [24]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT DISTINCT rr.RETURN_DESCRIPTION_EN
FROM returned_item ri
JOIN order_details od ON ri.ORDER_DETAIL_CODE = od.ORDER_DETAIL_CODE
JOIN return_reason rr ON ri.RETURN_REASON_CODE = rr.RETURN_REASON_CODE
WHERE (ri.RETURN_QUANTITY / od.QUANTITY) > 0.90;
"""

# Data inlezen in een DataFrame
df_return_reasons = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_return_reasons)

    RETURN_DESCRIPTION_EN
0  Unsatisfactory product
1   Wrong product shipped
2   Wrong product ordered

## Selecties op meerdere tabellen met functies

Geef een overzicht met daarin per producttype het aantal producten die tot dat producttype behoren. (2 kolommen, 21 rijen)

In [25]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT pt.PRODUCT_TYPE_EN, COUNT(p.PRODUCT_NUMBER) AS PRODUCT_COUNT
FROM product p
JOIN product_type pt ON p.PRODUCT_TYPE_CODE = pt.PRODUCT_TYPE_CODE
GROUP BY pt.PRODUCT_TYPE_EN;
"""

# Data inlezen in een DataFrame
df_product_count = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_product_count)

         PRODUCT_TYPE_EN  PRODUCT_COUNT
0             Binoculars              4
1   Climbing Accessories              7
2           Cooking Gear             10
3                Eyewear              5
4              First Aid              5
5       Golf Accessories              4
6      Insect Repellents              5
7                  Irons              4
8                 Knives              5
9               Lanterns             12
10            Navigation              4
11                 Packs              6
12               Putters              3
13                  Rope              4
14                Safety              4
15         Sleeping Bags              7
16             Sunscreen              5
17                 Tents              6
18                 Tools              6
19               Watches              5
20                 Woods              4

Geef een overzicht met daarin per land het aantal vestigingen van klanten die zich in dat land bevinden. (2 kolommen, 21 rijen)

In [26]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT c.COUNTRY, COUNT(r.RETAILER_SITE_CODE) AS TOTAL_SITES
FROM retailer_site r
JOIN country c ON r.COUNTRY_CODE = c.COUNTRY_CODE
GROUP BY c.COUNTRY;
"""

# Data inlezen in een DataFrame
df_customer_sites = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_customer_sites)

           COUNTRY  TOTAL_SITES
0        Australia           10
1          Austria           10
2          Belgium           10
3           Brazil            1
4           Canada           31
5            China           10
6          Denmark            6
7          Finland            5
8           France           29
9          Germany           32
10           Italy           12
11           Japan           25
12           Korea           10
13          Mexico           10
14     Netherlands           20
15           Spain            9
16          Sweden           12
17     Switzerland           13
18          Taiwan           10
19  United Kingdom           25
20   United States          101

Geef een overzicht met daarin van de producten behorend tot het producttype ‘Cooking Gear’ per productnaam de totaal verkochte hoeveelheid en de gemiddelde verkoopprijs. Sorteer de uitkomst op totaal verkochte hoeveelheid. (4 kolommen, 10 rijen)

In [27]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT p.PRODUCT_NAME, pt.PRODUCT_TYPE_EN, 
       SUM(od.QUANTITY) AS TOTAL_SOLD, 
       ROUND(AVG(od.UNIT_SALE_PRICE), 2) AS AVG_SALE_PRICE
FROM order_details od
JOIN product p ON od.PRODUCT_NUMBER = p.PRODUCT_NUMBER
JOIN product_type pt ON p.PRODUCT_TYPE_CODE = pt.PRODUCT_TYPE_CODE
WHERE pt.PRODUCT_TYPE_EN = 'Cooking Gear'
GROUP BY p.PRODUCT_NAME, pt.PRODUCT_TYPE_EN
ORDER BY TOTAL_SOLD DESC;
"""

# Data inlezen in een DataFrame
df_cooking_gear_sales = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_cooking_gear_sales)

                PRODUCT_NAME PRODUCT_TYPE_EN  TOTAL_SOLD  AVG_SALE_PRICE
0        TrailChef Water Bag    Cooking Gear       36738            6.03
1              TrailChef Cup    Cooking Gear       27418            6.98
2          TrailChef Canteen    Cooking Gear       26544           11.98
3      TrailChef Kitchen Kit    Cooking Gear       22206           22.35
4         TrailChef Utensils    Cooking Gear       13776           17.29
5     TrailChef Double Flame    Cooking Gear       12476          132.67
6         TrailChef Cook Set    Cooking Gear       10878           51.69
7           TrailChef Kettle    Cooking Gear        8826           12.20
8     TrailChef Single Flame    Cooking Gear        8504           63.83
9  TrailChef Deluxe Cook Set    Cooking Gear        3110          121.22

Geef een overzicht met daarin per land de naam van het land, de naam van de stad waar de verkoopafdeling is gevestigd (noem de kolomnaam in het overzicht ‘verkoper’) en het aantal steden waar zich klanten bevinden in dat land (noem de kolomnaam in het overzicht ‘klanten’) (3 kolommen, 29 rijen)

In [28]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# SQL-query uitvoeren
query = """
SELECT c.COUNTRY, sb.CITY AS verkoper, COUNT(DISTINCT rs.CITY) AS klanten
FROM country c
LEFT JOIN sales_branch sb ON c.COUNTRY_CODE = sb.COUNTRY_CODE
LEFT JOIN retailer_site rs ON c.COUNTRY_CODE = rs.COUNTRY_CODE
GROUP BY c.COUNTRY, sb.CITY;
"""

# Data inlezen in een DataFrame
df_country_sales = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Resultaten weergeven
print(df_country_sales)

           COUNTRY          verkoper  klanten
0        Australia         Melbourne        6
1          Austria              Wien        9
2          Belgium          Heverlee        8
3           Brazil         São Paulo        1
4           Canada           Calgary       16
5           Canada           Toronto       16
6            China          Shanghai        7
7          Denmark              None        5
8          Finland            Kuopio        5
9           France              Lyon       14
10          France             Paris       14
11         Germany           Hamburg       18
12         Germany           München       18
13           Italy            Milano        9
14           Japan        Osaka City        5
15           Japan             Tokyo        5
16           Korea             Seoul        6
17          Mexico  Distrito Federal        6
18     Netherlands         Amsterdam       15
19           Spain            Bilbao        5
20          Sweden             Kista       10
21     Switzerland            Zürich        9
22          Taiwan         San Chung        9
23  United Kingdom        Birmingham        9
24  United Kingdom            London        9
25   United States            Boston       62
26   United States       Los Angeles       62
27   United States             Miami       62
28   United States           Seattle       62

## Pythonvertalingen van SUBSELECT en UNION met o.a. for-loops

Geef een overzicht met daarin de voornaam en de achternaam van de medewerkers die nog nooit wat hebben verkocht (2 kolommen, 25 rijen)

In [29]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# Stap 1: Ophalen van alle medewerkers
query_staff = "SELECT SALES_STAFF_CODE, FIRST_NAME, LAST_NAME FROM sales_staff"
df_staff = pd.read_sql_query(query_staff, conn)

# Stap 2: Ophalen van alle medewerkers die iets hebben verkocht
query_sellers = "SELECT DISTINCT SALES_STAFF_CODE FROM order_header"
df_sellers = pd.read_sql_query(query_sellers, conn)

# Verbinding sluiten
conn.close()

# Stap 3: Medewerkers filteren die niet in de lijst van verkopers staan
seller_codes = set(df_sellers["SALES_STAFF_CODE"])
staff_never_sold = [row for _, row in df_staff.iterrows() if row["SALES_STAFF_CODE"] not in seller_codes]

# Stap 4: DataFrame maken van medewerkers die nog nooit iets hebben verkocht
df_never_sold = pd.DataFrame(staff_never_sold, columns=["FIRST_NAME", "LAST_NAME"])

# Resultaten weergeven
print(df_never_sold)

   FIRST_NAME      LAST_NAME
0       Denis           Pagé
5        Else         Mörike
6       Frank          Fuchs
9       Fritz         Hirsch
10       Jörg          Kunze
12      Maria      Iacobucci
17       Kick        Kalkman
22      Karin      Bergström
25      Sally          White
27      Frank        Bretton
28    Georges  Saint-Germain
33       Alex      Rodriguez
37   Samantha          Floyd
41      Julie          Olsen
45      Corey         Wright
51    Estelle        Johnson
52       Greg        Belding
55      Julie        Béchard
59      Lucía          Reyna
64     Kazumi        Uragome
66      Alice         Walter
84     Walter         Taylor
85   Penelope        Tamrine
88      Polly         Linton
96      Gracy        Gellens

Geef een overzicht met daarin het aantal producten waarvan de marge lager is dan de gemiddelde marge van alle producten samen. Geef in het overzicht tevens aan wat de gemiddelde marge is van dit aantal producten waarvan de marge lager dan de gemiddelde marge van alle producten samen is. (1 kolom, 2 rijen)

In [30]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# Stap 1: Ophalen van alle productmarges
query = "SELECT MARGIN FROM product"
df_products = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Stap 2: Bepaal de gemiddelde marge van alle producten
average_margin = df_products["MARGIN"].mean()

# Stap 3: Filter producten waarvan de marge lager is dan het gemiddelde
margins_below_avg = [margin for margin in df_products["MARGIN"] if margin < average_margin]

# Stap 4: Bepaal het aantal producten en de gemiddelde marge van deze subset
product_count = len(margins_below_avg)
avg_margin_below_avg = round(sum(margins_below_avg) / product_count, 2) if product_count > 0 else 0

# Stap 5: Maak een DataFrame voor de output
df_result = pd.DataFrame({"PRODUCT_COUNT": [product_count], "AVG_MARGIN_BELOW_AVERAGE": [avg_margin_below_avg]})

# Resultaten weergeven
print(df_result)

   PRODUCT_COUNT  AVG_MARGIN_BELOW_AVERAGE
0             59                      0.29

Geef een overzicht met daarin de namen van de producten die voor meer dan 500 (verkoopprijs) zijn verkocht maar nooit zijn teruggebracht. (1 kolom, 13 rijen)

In [34]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# Stap 1: Ophalen van alle productverkopen boven de $500
query_sales = """
SELECT DISTINCT p.PRODUCT_NUMBER, p.PRODUCT_NAME
FROM order_details od
JOIN product p ON od.PRODUCT_NUMBER = p.PRODUCT_NUMBER
WHERE od.UNIT_SALE_PRICE > 500;
"""
df_sales = pd.read_sql_query(query_sales, conn)

# Stap 2: Ophalen van producten die ooit zijn teruggebracht
query_returns = """
SELECT DISTINCT od.PRODUCT_NUMBER
FROM returned_item ri
JOIN order_details od ON ri.ORDER_DETAIL_CODE = od.ORDER_DETAIL_CODE
"""
df_returns = pd.read_sql_query(query_returns, conn)

# Verbinding sluiten
conn.close()

# Stap 3: Maak een set van teruggebrachte producten
returned_products = set(df_returns["PRODUCT_NUMBER"])

# Stap 4: Filter de producten die niet in de retourlijst staan
products_never_returned = [
    row for _, row in df_sales.iterrows() if row["PRODUCT_NUMBER"] not in returned_products
]

# Stap 5: Maak een DataFrame met alleen de productnamen
df_result = pd.DataFrame(products_never_returned, columns=["PRODUCT_NAME"])

# Resultaten weergeven
print(df_result)

                PRODUCT_NAME
9  Hailstorm Steel Woods Set

Geef een overzicht met daarin per (achternaam van) medewerker of hij/zij manager is of niet, door deze informatie toe te voegen als extra 'Ja/Nee'-kolom.<br>
Hint: gebruik een for-loop waarin je o.a. bepaalt of het woord 'Manager' in de functie (position_en) staat. (2 kolommen, 102 rijen).

In [35]:
import sqlite3
import pandas as pd

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# Stap 1: Ophalen van alle medewerkers en hun functies
query = "SELECT LAST_NAME, POSITION_EN FROM sales_staff"
df_staff = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Stap 2: For-loop om te bepalen of de medewerker een manager is
df_staff["IS_MANAGER"] = ["Ja" if "Manager" in position else "Nee" for position in df_staff["POSITION_EN"]]

# Stap 3: Selecteer alleen de relevante kolommen
df_result = df_staff[["LAST_NAME", "IS_MANAGER"]]

# Resultaten weergeven
print(df_result)

     LAST_NAME IS_MANAGER
0         Pagé         Ja
1       Michel        Nee
2     Clermont        Nee
3       Jauvin        Nee
4    Wiesinger        Nee
..         ...        ...
97    Laermans        Nee
98     De Crée        Nee
99     Lattrez        Nee
100  Seefelder        Nee
101     Grüner        Nee

[102 rows x 2 columns]

Met de onderstaande code laat je Python het huidige jaar uitrekenen.

In [1]:
from datetime import date
date.today().year

2024

Met de onderstaande code selecteer je op een bepaald jaartal uit een datum.

In [2]:
from datetime import datetime

date_str = '16-8-2013'
date_format = '%d-%m-%Y'
date_obj = datetime.strptime(date_str, date_format)

date_obj.year

2013

Geef met behulp van bovenstaande hulpcode een overzicht met daarin op basis van het aantal jaar dat iemand in dienst is of een medewerker ‘kort in dienst’ (minder dan 25 jaar in dienst) of een ‘lang in dienst’ (groter gelijk dan 12 jaar in dienst) is. Geef daarbij per medewerker in een aparte kolom zowel ‘kort in dienst’ als ‘lang in dienst’ aan. Gebruik (wederom) een for-loop.<br>
(2 kolommen, 102 rijen)

In [36]:
import sqlite3
import pandas as pd
from datetime import date, datetime

# Databasepad instellen
db_path = "sqlite/go_sales_train.sqlite"

# Verbinding maken met de database
conn = sqlite3.connect(db_path)

# Stap 1: Ophalen van alle medewerkers en hun datum van indiensttreding
query = "SELECT LAST_NAME, DATE_HIRED FROM sales_staff"
df_staff = pd.read_sql_query(query, conn)

# Verbinding sluiten
conn.close()

# Stap 2: Huidig jaar bepalen
current_year = date.today().year

# Stap 3: For-loop om de diensttijd te berekenen en de kolommen 'Kort in dienst' en 'Lang in dienst' toe te voegen
kort_in_dienst = []
lang_in_dienst = []

for index, row in df_staff.iterrows():
    # Convert datum naar jaartal
    if row["DATE_HIRED"]:
        hire_year = datetime.strptime(row["DATE_HIRED"], "%Y-%m-%d").year
        years_in_service = current_year - hire_year
    else:
        years_in_service = 0  # Als er geen datum is, zet het op 0

    # Bepalen of de medewerker kort/lang in dienst is
    kort_in_dienst.append("Ja" if years_in_service < 25 else "Nee")
    lang_in_dienst.append("Ja" if years_in_service >= 12 else "Nee")

# Stap 4: Kolommen toevoegen aan DataFrame
df_staff["Kort in dienst"] = kort_in_dienst
df_staff["Lang in dienst"] = lang_in_dienst

# Stap 5: Alleen relevante kolommen selecteren
df_result = df_staff[["LAST_NAME", "Kort in dienst", "Lang in dienst"]]

# Resultaten weergeven
print(df_result)

     LAST_NAME Kort in dienst Lang in dienst
0         Pagé            Nee             Ja
1       Michel            Nee             Ja
2     Clermont            Nee             Ja
3       Jauvin            Nee             Ja
4    Wiesinger            Nee             Ja
..         ...            ...            ...
97    Laermans            Nee             Ja
98     De Crée            Nee             Ja
99     Lattrez            Nee             Ja
100  Seefelder            Nee             Ja
101     Grüner            Nee             Ja

[102 rows x 3 columns]

## Van Jupyter Notebook naar Pythonproject

1. Richt de map waarin jullie tot nu toe hebben gewerkt in volgens de mappenstructuur uit de slides.
2. Maak van de ontstane mappenstructuur een Pythonproject dat uitvoerbaar is vanuit de terminal. Maak daarin een .py-bestand dat minstens 5 antwoorden uit dit notebook (in de vorm van een DataFrame) exporteert naar Excelbestanden. Alle notebooks mogen als notebook blijven bestaan.
3. Zorg ervoor dat dit Pythonproject zijn eigen repo heeft op Github. Let op: je virtual environment moet <b><u>niet</u></b> meegaan naar Github.

Je mag tijdens dit proces je uit stap 1 ontstane mappenstructuur aanpassen, zolang je bij het beoordelingsmoment kan verantwoorden wat de motivatie hierachter is. De slides verplichten je dus nergens toe.