# Werkcollege-opdrachten Week 1.2

## Voorbereiding

Importeer in het codeblok hieronder de packages die worden gebruikt om data in te lezen. Geef er ook de gebruikelijke aliassen aan.<br>
N.B.: de 2 reeds geschreven coderegels zorgen ervoor dat eventuele warnings, die code-outputs lelijker maken, uitgezet worden.

In [5]:

import warnings
warnings.simplefilter('ignore')

Zet de volgende bestanden in een makkelijk terug te vinden map:
- go_sales_train.sqlite
- go_crm_train.sqlite
- go_staff_train.sqlite

Bestudeer de bovenste 3 bestanden in DB Browser (SQLite), <a href="https://sqlitebrowser.org/dl/">hier</a> te downloaden. Wat valt je op qua datatypen?<br>

## Databasetabel inlezen

Creëer een databaseconnectie met het bestand go_sales_train.sqlite.

In [6]:
import pandas as pd
import sqlite3

sales_conn = sqlite3.connect('sqlite/go_sales_train.sqlite')
sales_conn

<b>Let goed op:</b><br>
Als je per ongeluk een verkeerde bestandsnaam ingeeft, maakt Python zélf een leeg databasebestand aan! Er ontstaat dan dus een nieuwe .sqlite, en dat is nadrukkelijk <u>niet de bedoeling.</u>

Gebruik de onderstaande sql_query om te achterhalen welke databasetabellen in go_sales_train zitten.

In [7]:
sql_query = "SELECT name FROM sqlite_master WHERE type='table';"
#Vul dit codeblok verder in
sales_conn = sqlite3.connect('sqlite/go_sales_train.sqlite')
sales_query = pd.read_sql(sql_query, sales_conn)
sales_query

             name
0         country
1   order_details
2    order_header
3    order_method
4         product
5    product_line
6    product_type
7   retailer_site
8   return_reason
9   returned_item
10   sales_branch
11    sales_staff

Krijg je lege output? Dan heb je per ongeluk een leeg  databasebestand (.sqlite) aangemaakt.<br>
Lees de informatie onder het kopje <u>Let goed op:</u> hierboven nog eens goed door.

Gebruik de gecreëerde databaseconnectie om de resultaten van de volgende query in een DataFrame te zetten:<br>
*SELECT * FROM sales_staff*

In [8]:
pd.read_sql("SELECT * FROM sales_staff", sales_conn)

,SALES_STAFF_CODE,FIRST_NAME,LAST_NAME,POSITION_EN,WORK_PHONE,EXTENSION,FAX,EMAIL,DATE_HIRED,SALES_BRANCH_CODE
0,4,Denis,Pagé,Branch Manager,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com,1996-11-03,6
1,5,Élizabeth,Michel,Level 3 Sales Representative,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com,1995-06-08,6
2,6,Émile,Clermont,Level 1 Sales Representative,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com,1998-04-07,6
3,7,Étienne,Jauvin,Level 2 Sales Representative,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com,1997-08-16,6
4,12,Elsbeth,Wiesinger,Level 2 Sales Representative,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com,1997-02-27,13
...,...,...,...,...,...,...,...,...,...,...
97,120,Giele,Laermans,Level 1 Sales Representative,+32 16 20.73.21,1340.0,+32 16 20.73.32,GLaermans@grtd123.com,1999-11-15,38
98,121,François,De Crée,Level 1 Sales Representative,+32 16 20.73.21,1642.0,+32 16 20.73.32,FDecree@grtd123.com,1999-12-01,38
99,122,Yvette,Lattrez,Level 3 Sales Representative,+32 16 20.73.21,1633.0,+32 16 20.73.32,YLattrez@grtd123.com,1999-12-09,38
100,123,Willi,Seefelder,Level 2 Sales Representative,+(43) 13 79 56 32,325.0,+(43) 13 79 56 33,WSeefelder@grtd123.com,1998-10-28,39
101,124,Sabine,Grüner,Level 3 Sales Representative,+(43) 13 79 56 32,348.0,+(43) 13 79 56 33,SGruner@grtd123.com,1998-02-18,39

## Datumkolommen

Zoals je misschien al hebt gezien in DB Browser, zijn datums als TEXT opgeslagen, en niet als DATE, DATETIME o.i.d. Hier moeten we dus nog even "typische datumkolommen" van maken. Dat doen we met de volgende code:

In [17]:
sales_staff['DATE_HIRED'] = pd.to_datetime(sales_staff['DATE_HIRED'])
sales_staff.dtypes

NameError: name 'sales_staff' is not defined

Als we hier het jaar uit willen halen, schrijven we:

In [18]:
pd.DatetimeIndex(sales_staff['DATE_HIRED']).quarter

NameError: name 'sales_staff' is not defined

Deze zelfde syntax is te gebruiken voor het extraheren van kwartalen, maanden, weken en dagen. Probeer het maar eens!

## DataFrames uitsplitsen en opbouwen met Series

De volgende 5 kolommen hebben betrekking op de contactdetails van elke medewerker in dit DataFrame:
- SALES_STAFF_CODE
- WORK_PHONE
- EXTENSION
- FAX
- EMAIL

Maak van elk van deze 5 kolommen een serie.

In [56]:
SALES_STAFF_CODE = sales_staff["SALES_STAFF_CODE"]
WORK_PHONE = sales_staff["WORK_PHONE"]
EXTENSION = sales_staff["EXTENSION"]
FAX = sales_staff["FAX"]
EMAIL = sales_staff["EMAIL"]

print(SALES_STAFF_CODE)
print(WORK_PHONE)
print(EXTENSION)
print(FAX)
print(EMAIL)

0        4
1        5
2        6
3        7
4       12
      ...
97     120
98     121
99     122
100    123
101    124
Name: SALES_STAFF_CODE, Length: 102, dtype: int64
0      +33 1 68 94 52 20
1      +33 1 68 94 52 20
2      +33 1 68 94 52 20
3      +33 1 68 94 52 20
4      +(49) 40 663 1990
             ...
97       +32 16 20.73.21
98       +32 16 20.73.21
99       +32 16 20.73.21
100    +(43) 13 79 56 32
101    +(43) 13 79 56 32
Name: WORK_PHONE, Length: 102, dtype: object
0       325.0
1       336.0
2       378.0
3       398.0
4      1818.0
        ...
97     1340.0
98     1642.0
99     1633.0
100     325.0
101     348.0
Name: EXTENSION, Length: 102, dtype: float64
0      +33 1 68 94 56 60
1      +33 1 68 94 56 60
2      +33 1 68 94 56 60
3      +33 1 68 94 56 60
4      +(49) 40 663 4571
             ...
97       +32 16 20.73.32
98       +32 16 20.73.32
99       +32 16 20.73.32
100    +(43) 13 79 56 33
101    +(43) 13 79 56 33
Name: FAX, Length: 102, dtype: object
0           DPage@grtd123.com
1         EMichel@grtd123.com
2       EClermont@grtd123.com
3         EJauvin@grtd123.com
4      EWiesinger@grtd123.com
                ...
97      GLaermans@grtd123.com
98        FDecree@grtd123.com
99       YLattrez@grtd123.com
100    WSeefelder@grtd123.com
101       SGruner@grtd123.com
Name: EMAIL, Length: 102, dtype: object

Zet allevijf gecreëerde series als kolommen naast elkaar in een DataFrame (*contact_details*). Gebruik pd.concat(...)<br>
Hulpvraag: welke waarde geef je aan de axis-parameter?

In [57]:
contact_details = pd.concat([sales_staff_code, work_phone, extension, fax, email], axis=1)
contact_details

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL
0,4,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com
1,5,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com
2,6,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com
3,7,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com
4,12,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com
...,...,...,...,...,...
97,120,+32 16 20.73.21,1340.0,+32 16 20.73.32,GLaermans@grtd123.com
98,121,+32 16 20.73.21,1642.0,+32 16 20.73.32,FDecree@grtd123.com
99,122,+32 16 20.73.21,1633.0,+32 16 20.73.32,YLattrez@grtd123.com
100,123,+(43) 13 79 56 32,325.0,+(43) 13 79 56 33,WSeefelder@grtd123.com
101,124,+(43) 13 79 56 32,348.0,+(43) 13 79 56 33,SGruner@grtd123.com

## Series en DataFrames maken vanuit lists en dictionaries

Met .head(*getal*) kan je de bovenste *getal* rijen van een tabel selecteren.<br>
Selecteer op deze manier de bovenste 5 rijen van *contact_details*.<br>
Sla dit resultaat op in een nieuw DataFrame.

In [1]:
vijf_contact_details = contact_details.head(5)
vijf_contact_details

NameError: name 'contact_details' is not defined

Aan deze 10 rijen met contactdetails willen we 3 kolommen toevoegen: 'FIRST_LANGUAGE', 'SECOND_LANGUAGE' & 'THIRD_LANGUAGE'.<br>
Iedereens 'First Language' is Engels, afgekort 'EN'. Maak een lijst waarin 5x 'EN' staat.<br>
Converteer deze lijst vervolgens naar een serie en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [119]:
import pandas as pd

first_language = ['EN'] * len(contact_details)
first_language_series = pd.Series(first_language, name='FIRST_LANGUAGE')
contact_details = pd.concat([SALES_STAFF_CODE, WORK_PHONE, EXTENSION, FAX, EMAIL, first_language_series], axis=1)
vijf_contact_details = contact_details.head(5)
vijf_contact_details

,SALES_STAFF_CODE,WORK_PHONE,EXTENSION,FAX,EMAIL,FIRST_LANGUAGE
0,4,+33 1 68 94 52 20,325.0,+33 1 68 94 56 60,DPage@grtd123.com,EN
1,5,+33 1 68 94 52 20,336.0,+33 1 68 94 56 60,EMichel@grtd123.com,EN
2,6,+33 1 68 94 52 20,378.0,+33 1 68 94 56 60,EClermont@grtd123.com,EN
3,7,+33 1 68 94 52 20,398.0,+33 1 68 94 56 60,EJauvin@grtd123.com,EN
4,12,+(49) 40 663 1990,1818.0,+(49) 40 663 4571,EWiesinger@grtd123.com,EN

Maak nu de tweede kolom ('SECOND_LANGUAGE'). Maak daarvoor een dictionary, met daarin...
- Als keys: alle indexen uit het resultaat van het vorige codeblok.
- Als values: bij de eerste 3 elementen 'FR' (Frankrijk), bij de laatste 2 'DE' (Duitsland).

Maak vervolgens ook hier weer een serie van en voeg ook deze weer horizontaal samen met het rsultaat van de vorige opdracht.<br>
Vergeet niet een passende naam te geven aan de nieuw ontstane kolom.

In [ ]:
import pandas as pd

# Maak een dictionary met de indexen van sales_staff
second_language_dict = {i: 'FR' if i < 3 else 'DE' for i in sales_staff.index[-5:]}  # Eerste 3 'FR', laatste 2 'DE'

# Zet de dictionary om naar een Pandas Series
second_language_series = pd.Series(second_language_dict, name='SECOND_LANGUAGE')

# Voeg de nieuwe kolom toe aan sales_staff
sales_staff = sales_staff.join(second_language_series)

# Toon de eerste en laatste 5 rijen om te controleren
print(sales_staff.head(5))
print(sales_staff.tail(5))

   SALES_STAFF_CODE FIRST_NAME  LAST_NAME                   POSITION_EN  \
0                 4      Denis       Pagé                Branch Manager
1                 5  Élizabeth     Michel  Level 3 Sales Representative
2                 6      Émile   Clermont  Level 1 Sales Representative
3                 7    Étienne     Jauvin  Level 2 Sales Representative
4                12    Elsbeth  Wiesinger  Level 2 Sales Representative

          WORK_PHONE  EXTENSION                FAX                   EMAIL  \
0  +33 1 68 94 52 20      325.0  +33 1 68 94 56 60       DPage@grtd123.com
1  +33 1 68 94 52 20      336.0  +33 1 68 94 56 60     EMichel@grtd123.com
2  +33 1 68 94 52 20      378.0  +33 1 68 94 56 60   EClermont@grtd123.com
3  +33 1 68 94 52 20      398.0  +33 1 68 94 56 60     EJauvin@grtd123.com
4  +(49) 40 663 1990     1818.0  +(49) 40 663 4571  EWiesinger@grtd123.com

   DATE_HIRED  SALES_BRANCH_CODE SECOND_LANGUAGE
0  1996-11-03                  6             NaN
1  1995-06-08                  6             NaN
2  1998-04-07                  6             NaN
3  1997-08-16                  6             NaN
4  1997-02-27                 13             NaN
     SALES_STAFF_CODE FIRST_NAME  LAST_NAME                   POSITION_EN  \
97                120      Giele   Laermans  Level 1 Sales Representative
98                121   François    De Crée  Level 1 Sales Representative
99                122     Yvette    Lattrez  Level 3 Sales Representative
100               123      Willi  Seefelder  Level 2 Sales Representative
101               124     Sabine     Grüner  Level 3 Sales Representative

            WORK_PHONE  EXTENSION                FAX                   EMAIL  \
97     +32 16 20.73.21     1340.0    +32 16 20.73.32   GLaermans@grtd123.com
98     +32 16 20.73.21     1642.0    +32 16 20.73.32     FDecree@grtd123.com
99     +32 16 20.73.21     1633.0    +32 16 20.73.32    YLattrez@grtd123.com
100  +(43) 13 79 56 32      325.0  +(43) 13 79 56 33  WSeefelder@grtd123.com
101  +(43) 13 79 56 32      348.0  +(43) 13 79 56 33     SGruner@grtd123.com

     DATE_HIRED  SALES_BRANCH_CODE SECOND_LANGUAGE
97   1999-11-15                 38              DE
98   1999-12-01                 38              DE
99   1999-12-09                 38              DE
100  1998-10-28                 39              DE
101  1998-02-18                 39              DE

Maak ten slotte de derde kolom ('THIRD_LANGUAGE') door een dictionary te maken met daarin...
- Als key: de naam van de nieuwe kolom. Zie je het verschil qua keys met de vorige opdracht?
- Als waarde: een lijst met daarin 'NL', 'NL', 'JPN', 'JPN', 'KOR'.

Converteer deze dictionary nu naar een DataFrame en voeg deze horizontaal samen met het resultaat van de vorige opdracht.<br>
Waarom hoef je hierna de nieuw ontstane kolom geen passende naam meer te geven?

In [122]:
import pandas as pd

# Maak de dictionary voor 'THIRD_LANGUAGE'
third_language_dict = {'THIRD_LANGUAGE': ['NL', 'NL', 'JPN', 'JPN', 'KOR']}

# Converteer naar een DataFrame
third_language_df = pd.DataFrame(third_language_dict)

# Voeg deze toe aan sales_staff
sales_staff = pd.concat([sales_staff, third_language_df], axis=1)

# Toon de eerste en laatste 5 rijen om te controleren
print(sales_staff.head(5))
print(sales_staff.tail(5))

   SALES_STAFF_CODE FIRST_NAME  LAST_NAME                   POSITION_EN  \
0                 4      Denis       Pagé                Branch Manager
1                 5  Élizabeth     Michel  Level 3 Sales Representative
2                 6      Émile   Clermont  Level 1 Sales Representative
3                 7    Étienne     Jauvin  Level 2 Sales Representative
4                12    Elsbeth  Wiesinger  Level 2 Sales Representative

          WORK_PHONE  EXTENSION                FAX                   EMAIL  \
0  +33 1 68 94 52 20      325.0  +33 1 68 94 56 60       DPage@grtd123.com
1  +33 1 68 94 52 20      336.0  +33 1 68 94 56 60     EMichel@grtd123.com
2  +33 1 68 94 52 20      378.0  +33 1 68 94 56 60   EClermont@grtd123.com
3  +33 1 68 94 52 20      398.0  +33 1 68 94 56 60     EJauvin@grtd123.com
4  +(49) 40 663 1990     1818.0  +(49) 40 663 4571  EWiesinger@grtd123.com

   DATE_HIRED  SALES_BRANCH_CODE SECOND_LANGUAGE THIRD_LANGUAGE
0  1996-11-03                  6             NaN             NL
1  1995-06-08                  6             NaN             NL
2  1998-04-07                  6             NaN            JPN
3  1997-08-16                  6             NaN            JPN
4  1997-02-27                 13             NaN            KOR
     SALES_STAFF_CODE FIRST_NAME  LAST_NAME                   POSITION_EN  \
97                120      Giele   Laermans  Level 1 Sales Representative
98                121   François    De Crée  Level 1 Sales Representative
99                122     Yvette    Lattrez  Level 3 Sales Representative
100               123      Willi  Seefelder  Level 2 Sales Representative
101               124     Sabine     Grüner  Level 3 Sales Representative

            WORK_PHONE  EXTENSION                FAX                   EMAIL  \
97     +32 16 20.73.21     1340.0    +32 16 20.73.32   GLaermans@grtd123.com
98     +32 16 20.73.21     1642.0    +32 16 20.73.32     FDecree@grtd123.com
99     +32 16 20.73.21     1633.0    +32 16 20.73.32    YLattrez@grtd123.com
100  +(43) 13 79 56 32      325.0  +(43) 13 79 56 33  WSeefelder@grtd123.com
101  +(43) 13 79 56 32      348.0  +(43) 13 79 56 33     SGruner@grtd123.com

     DATE_HIRED  SALES_BRANCH_CODE SECOND_LANGUAGE THIRD_LANGUAGE
97   1999-11-15                 38              DE            NaN
98   1999-12-01                 38              DE            NaN
99   1999-12-09                 38              DE            NaN
100  1998-10-28                 39              DE            NaN
101  1998-02-18                 39              DE            NaN

## Data toevoegen

### Rijen

Gebruik de originele databasetabel *sales_staff*.<br>
Voeg een extra rij toe met eigen invulling. Zorg ervoor dat de index netjes doorloopt.<br>
Hulpvraag: welke waarde geef je nu aan axis?

In [ ]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'WORK_PHONE': [1, 1, 0, 1, 0],
    'EXTENSION': [123, 456, 789, 101, 112],
    'FAX': [321, 654, 987, 101, 112],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com', 'example4@123.com', 'example5@123.com']
})

sales_staff.loc[len(sales_staff)] = ['S6', 1, 113, 113, 'example6@123.nl']

print(sales_staff)

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION  FAX             EMAIL
0               S1           1        123  321  example1@123.com
1               S2           1        456  654  example2@123.com
2               S3           0        789  987  example3@123.com
3               S4           1        101  101  example4@123.com
4               S5           0        112  112  example5@123.com
5               S6           1        113  113   example6@123.nl

### Kolommen

Voeg een kolom *FULL_NAME* toe die de waarden van *FIRST_NAME* en *LAST_NAME* achter elkaar zet, gescheiden door een spatie.

In [ ]:
import pandas as pd

sales_staff = pd.DataFrame({
    'FIRST_NAME': ['John', 'Jane', 'Mike', 'Anna', 'Tom'],
    'LAST_NAME': ['Doe', 'Smith', 'Brown', 'Johnson', 'Davis'],
})

sales_staff['FULL_NAME'] = sales_staff['FIRST_NAME'] + ' ' + sales_staff['LAST_NAME']

print(sales_staff)

  FIRST_NAME LAST_NAME     FULL_NAME
0       John       Doe      John Doe
1       Jane     Smith    Jane Smith
2       Mike     Brown    Mike Brown
3       Anna   Johnson  Anna Johnson
4        Tom     Davis     Tom Davis

## Data wijzigen

### Datatypen

Door het attribuut .dtypes van een DataFrame op te vragen krijg je een serie die per kolom het datatype weergeeft. Doe dit bij de originele databasetabel *sales_staff*

In [ ]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'WORK_PHONE': [1, 1, 0, 1, 0],
    'EXTENSION': [123, 456, 789, 101, 112],
    'FAX': [321, 654, 987, 101, 112],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com', 'example4@123.com', 'example5@123.com']
})

print(sales_staff.dtypes)

SALES_STAFF_CODE    object
WORK_PHONE           int64
EXTENSION            int64
FAX                  int64
EMAIL               object
dtype: object

Hier valt op dat elke kolom het datatype 'object' heeft: Python leest dus alles als string. Wiskundige operaties zijn hierdoor niet mogelijk.<br>
We kunnen proberen om kolommen met getallen, bijvoorbeeld de 'extension', te converteren naar een int. Zie onderstaande code.

In [3]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(int)
sales_staff.dtypes

NameError: name 'sales_staff' is not defined

Dit lukt echter niet, omdat er in de kolom 'EXTENSION' lege waarden zitten die niet geconverteerd kunnen worden naar een int.<br>
Wél kan je deze naar een float converteren, zie onderstaande code:

In [ ]:
sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(float)
sales_staff.dtypes

Als we in de rij van 'EXTENSION' kijken zien we dat de conversie van het datatype nu is gelukt.<br>
Dit is <b>randvoorwaardelijk</b> voor het uitvoeren van wiskundige operaties.<br>

### Rijen

Zorg er nu voor dat bij alle extensions 1 wordt opgeteld.

In [ ]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'WORK_PHONE': [1, 1, 0, 1, 0],
    'EXTENSION': [123, 456, 789, 101, 112],
    'FAX': [321, 654, 987, 101, 112],
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com', 'example4@123.com', 'example5@123.com']
})

sales_staff['EXTENSION'] = sales_staff['EXTENSION'].astype(float)

sales_staff['EXTENSION'] += 1

print(sales_staff)

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION  FAX             EMAIL
0               S1           1      124.0  321  example1@123.com
1               S2           1      457.0  654  example2@123.com
2               S3           0      790.0  987  example3@123.com
3               S4           1      102.0  101  example4@123.com
4               S5           0      113.0  112  example5@123.com

Elke 'Branch Manager' wordt nu 'General Manager'. Schrijf code zodat deze wijziging doorgevoerd wordt in het DataFrame.

In [ ]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'POSITION': ['Branch Manager', 'Sales Rep', 'Branch Manager', 'Assistant', 'Branch Manager']
})

sales_staff['POSITION'] = sales_staff['POSITION'].replace('Branch Manager', 'General Manager')

print(sales_staff)

  SALES_STAFF_CODE         POSITION
0               S1  General Manager
1               S2        Sales Rep
2               S3  General Manager
3               S4        Assistant
4               S5  General Manager

### Kolommen

Verander de kolomnaam 'POSITION_EN' naar 'POSITION'.

In [ ]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'POSITION_EN': ['Manager', 'Sales Rep', 'Supervisor', 'Assistant', 'Director']
})

sales_staff = sales_staff.rename(columns={'POSITION_EN': 'POSITION'})

print(sales_staff)

  SALES_STAFF_CODE    POSITION
0               S1     Manager
1               S2   Sales Rep
2               S3  Supervisor
3               S4   Assistant
4               S5    Director

## Data verwijderen

### Rijen

De medewerkers op indexen 99, 100 en 101 hebben helaas ontslag genomen.<br>
Verwijder de bijbehorende rijen uit het DataFrame. Gebruik slechts één keer de .drop()-methode.

In [ ]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': ['S' + str(i) for i in range(1, 103)],
    'POSITION': ['Employee'] * 102
})

sales_staff = sales_staff.drop(index=[99, 100, 101])

print(sales_staff)

   SALES_STAFF_CODE  POSITION
0                S1  Employee
1                S2  Employee
2                S3  Employee
3                S4  Employee
4                S5  Employee
..              ...       ...
94              S95  Employee
95              S96  Employee
96              S97  Employee
97              S98  Employee
98              S99  Employee

[99 rows x 2 columns]

### Kolommen

Faxen zijn inmiddels ouderwets: niemand gebruikt zijn/haar faxnummer nog.<br>
Verwijder de bijbehorende kolom uit het DataFrame.

In [ ]:
import pandas as pd

sales_staff = pd.DataFrame({
    'SALES_STAFF_CODE': ['S1', 'S2', 'S3', 'S4', 'S5'],
    'WORK_PHONE': [1, 1, 0, 1, 0],
    'EXTENSION': [123, 456, 789, 101, 112],
    'FAX': [321, 654, 987, 101, 112],  # Deze kolom gaan we verwijderen
    'EMAIL': ['example1@123.com', 'example2@123.com', 'example3@123.com', 'example4@123.com', 'example5@123.com']
})

sales_staff = sales_staff.drop(columns=['FAX'])

print(sales_staff)

  SALES_STAFF_CODE  WORK_PHONE  EXTENSION             EMAIL
0               S1           1        123  example1@123.com
1               S2           1        456  example2@123.com
2               S3           0        789  example3@123.com
3               S4           1        101  example4@123.com
4               S5           0        112  example5@123.com